@import "tailwindcss";

/* Force "dark" variants to apply ONLY when the .dark class is present 
   (overriding the default system-preference behavior)
*/
@variant dark (&:where(.dark, .dark *));

/* Set native browser UI elements (like scrollbars) to match */
:root {
  color-scheme: light dark;
}

@media print {
  @page {
    margin: 1cm; /* Sets browser default print margin to ~0.4 inches */
  }
}

@media print {
  :root, html, body {
    background-color: white !important;
    color: black !important;
    
    /* Forces the browser to ignore the dark color scheme preference */
    color-scheme: light !important; 
  }

  /* Force the .dark class to behave like light mode during print */
  .dark {
    background-color: white !important;
    color: black !important;
  }
}